@using Microsoft.AspNetCore.Identity
@using ShoppingMVC.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@{
    string menuTextColor = "text-white";
}
<body>
    <div class="container-fluid" style="background:linear-gradient(to right,#283400,#197696);">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">ShoppingApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
                        </li>
                     @if(SignInManager.IsSignedIn(User))  {

                         <li class="nav-item">
                            <a class="nav-link @menuTextColor" asp-area="" asp-controller="OrderMvc" asp-action="Index">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @menuTextColor" asp-area="" asp-controller="CategoryMvc" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @menuTextColor" asp-area="" asp-controller="ProductMvc" asp-action="Index">Products</a>
                        </li>          

                     }
                                  
                    </ul>
                </div>
                <partial name="_LoginPartial"/>
            </div>
        </nav>
    </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background:linear-gradient(to left,#283400,#197696);">
        <div class="container @menuTextColor">
            &copy; 2022 - ShoppingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="@menuTextColor">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
